<a href="https://colab.research.google.com/github/Kenjiro1/FreeCodeCamp_Projects/blob/main/demographic_data_analyzer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install ucimlrepo

Collecting ucimlrepo
  Downloading ucimlrepo-0.0.7-py3-none-any.whl.metadata (5.5 kB)
Requirement already satisfied: pandas>=1.0.0 in /usr/local/lib/python3.12/dist-packages (from ucimlrepo) (2.2.2)
Requirement already satisfied: certifi>=2020.12.5 in /usr/local/lib/python3.12/dist-packages (from ucimlrepo) (2025.8.3)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas>=1.0.0->ucimlrepo) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas>=1.0.0->ucimlrepo) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas>=1.0.0->ucimlrepo) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas>=1.0.0->ucimlrepo) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas>=1.0.0->ucimlrepo) (1.17.0)
Downloading ucimlrepo-0.0.7-py3-none-any.whl (8.0 kB)
Installing collected packages: ucimlrepo
Successfully installed ucimlrepo-0.0.7

In [3]:
from ucimlrepo import fetch_ucirepo
import pandas as pd

# fetch dataset
adult = fetch_ucirepo(id=2)

# data (as pandas dataframes)
X = adult.data.features
y = adult.data.targets
# metada

In [4]:
  X= pd.concat([X, y], axis=1)

In [5]:
#How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. (race column)


X.race.value_counts()

race
White                 41762
Black                  4685
Asian-Pac-Islander     1519
Amer-Indian-Eskimo      470
Other                   406
Name: count, dtype: int64

In [6]:
#What is the average age of men?
X.sex.value_counts()
#This one with verify if how our data is written

sex
Male      32650
Female    16192
Name: count, dtype: int64

In [7]:
#Average_man

average_age = X[X['sex'] == 'Male']['age'].mean()
average_age

np.float64(39.49439509954058)

In [8]:
#What is the percentage of people who have a Bachelor's degree?
X.education.value_counts()

education
HS-grad         15784
Some-college    10878
Bachelors        8025
Masters          2657
Assoc-voc        2061
11th             1812
Assoc-acdm       1601
10th             1389
7th-8th           955
Prof-school       834
9th               756
12th              657
Doctorate         594
5th-6th           509
1st-4th           247
Preschool          83
Name: count, dtype: int64

In [9]:
qtd_bachelors = len(X[X['education']=='Bachelors'])
percentage_bachelors = (qtd_bachelors/len(X)) * 100
print(f' percentage is {percentage_bachelors:.2f}%')

 percentage is 16.43%

In [10]:
#What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?

advanced_education = ['Bachelors', 'Masters','Doctorate']

qtd_advanced_education = X[X['education'].isin(advanced_education)]['education'].value_counts().sum()
percentage_advanced_education = (qtd_advanced_education/len(X)) * 100
print(f' percentage is {percentage_advanced_education:.2f}%')

 percentage is 23.09%

In [11]:
X.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [12]:
#What percentage of people without advanced education make more than 50K?
qtd_is_not_advanced_education = X[(~X['education'].isin(advanced_education)) & (X['income'] == '>50K')].value_counts().sum()


percentage_isnot_advanced_education = (qtd_is_not_advanced_education/len(X)) * 100

print(f' percentage is {percentage_isnot_advanced_education:.2f}%')

 percentage is 8.92%

In [13]:
#What is the minimum number of hours a person works per week?
min_hours = X['hours-per-week'].min() # or we can use X['hours-per-week'].value_counts(ascending=True)
print(min_hours)

1

In [14]:
#What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?
percentage_min_hours = len(X[(X['hours-per-week'] == min_hours) & X['income'] == '>50k' ])

print(f'Percentage of min hours and income more than 50k is {percentage_min_hours:.2f}%')

Percentage of min hours and income more than 50k is 0.00%

In [15]:
#What country has the highest percentage of people that earn >50K and what is that percentage?
the_highest_50K_country = X[X['income']== '>50K']['native-country'].value_counts().head(1)
#We can use this serie like a number
percentagem_relation_to_others50K = (the_highest_50K_country/ len(X[X['income']== '>50K']))*100
print(f'With the countries that have persons with income more than 50K is {percentagem_relation_to_others50K} %')

With the countries that have persons with income more than 50K is native-country
United-States    91.455172
Name: count, dtype: float64 %

In [28]:
#Identify the most popular occupation for those who earn >50K in India
india_50K_occupation = X[(X['native-country'] == 'India') & (X['income'] == '>50K')]['occupation'].value_counts()
india_50K_occupation.to_frame().reset_index().iloc[0,:] # Answer

occupation    Prof-specialty
count                     25
Name: 0, dtype: object